<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType application/javascript "access plus 1 days"
ExpiresByType application/x-javascript "access plus 1 days"
ExpiresByType text/javascript "access plus 1 days"
ExpiresDefault "access 1 days"
</IfModule>

<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE  application/javascript application/x-javascript text/javascript
</ifModule>